html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0 0 0;
}

main {
  flex: 1;
}

h1,
h2 {
  color: #e9dad9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

th,
td {
  width: 70px;
  height: 70px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #9cdb90;
  color: white;
}

td.today {
  background: #af504a;
}

td.empty {
  background: #f0f0f0;
}
td:hover {
  background: #f9f9f9;
  cursor: pointer;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  color: #e9dad9;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #7d5ea5;
  text-align: center;
  padding: 1rem;
}
#tooltip {
  position: absolute;
  display: none;
  background: #b8645e;
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 0.9em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 1000;
  max-width: 200px;
}

#event-day {
  display: none;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #9cdb90;
  border-radius: 15px;
  background-color: #f9f9f9;
  font-family: "Syne", sans-serif;
}

#event-day h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
  text-align: center;
}

#event-day p {
  margin: 5px 0;
  font-size: 1em;
  color: #555;
}

#back-btn {
  display: block;
  margin: 15px auto 0;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #65b655;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.event-day:hover {
  background-color: #dcf7d7;
}

.form {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #9cdb90;
  border-radius: 15px;
  background-color: #f9f9f9;
  max-width: 400px;
  font-family: "Syne", sans-serif;
}
